   



<div class="d-flex gap-3 ">

    <div class="card col-6 ">
        <div class="card-head text-center">Voitures par model</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
               
                        <canvas  id="MyChart" >{{ chart }}</canvas>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card col-6 ">
        <div class="card-head text-center">Gestion des clients</div>
        <div class="card-body">
            <div class="container">
                <div class="row">
               
                        <canvas  id="MyChart2" >{{ chart2 }}</canvas>
                    
                </div>
            </div>
        </div>
    </div>
</div>
